
body {
  background: lightblue;
}

p {
  font-size: 25px;
}

li {
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    background: white;
  }

 .devoured {
    background:green;

}

  .uneaten {
    background: red;
  }

  .create-form,{
    float:left;
  }

